*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* start header  */
 
header{
    background-color: blue;
    padding: 25px 10px;
    
}

.continer{
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    
}

.justify-content{
    justify-content: space-between;
    
}

.col-dx i{
    color: white;
}

/* main  */