*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* start header  */
 
header{
    background-color: blue;
    padding: 25px 0;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    
}

.row{
    width: 100%;
    display: flex;
    
}

.justify-content{
    justify-content: space-between;
    
}

.col-dx{
    display: flex;
}

.list-nav{
    display: none;

}

.list-nav ul{
    display: flex;
    list-style-type: none;
}

.list-nav ul li{
    padding: 10px 20px;
    color: white;
}

.col-dx i{
    color: white;
}

.col-dx button { 
    display: none;

}

/* main  */

.row-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-60 {
    background-color: #b5ddff;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 40px;
    line-height: 1.8;
   
}

.col-60 h3 {
    text-align: center;
    margin-bottom: 30px;
}


.col-60 img{
    width: 100%
   
}



.margin-bottom-30{
    margin-bottom: 30px;
}



.style-col{
    background-color: #b5ddff;
    border-radius: 40px;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.8;
}

.col-30 i{
    color: #0084fd;
}

.font-size-20{
    font-size: 20px;
}

.col-50{
    padding: 30px;
    line-height: 1.8;
}


.col-50 img{
    width: 100%;
}

.background-violet{
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 100px;
}

.background-white{
    background-color: white;
    border-radius: 40px;
}

.text-align-center{
    text-align: center;
}

.style-button{
    background-color:  #9792e4;
    border-radius: 100%;
    padding: 5px 10px;
    border-style: none;
}

.row-main-col-2{
    display: flex;
    flex-direction: column;
}

.col-25{
    text-align: center;
    line-height: 1.8;
    padding: 30px;
    margin-bottom: 30px;

}

.row-main-col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.margin-top-30{
    margin-top: 30px
}

.col-25 img{
    width: 80%;
    border-radius: 100%
}

.background-violet-border{
    background-color:  #9792e4;
    border-radius: 40px;
}

.text-align-center{
    text-align: center;
}

.font-size-50{
    font-size: 40px;
}



.col-70{
    width: 70%;
}


.style-col-2{
    background-color: white;
    text-align: left;
    border-radius: 40px;
    line-height: 1.8;
    border-radius: 40px;
    padding: 30px;
    margin-top: 30px;
}

.font-size-30{
    font-size: 30px;
}

.col-30 img{
    width: 50%;
    border-radius: 100%;
}

.padding-50{
    padding: 50px 0;
}

/* footer  */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.container-bottom{
    width: 100%;
    margin: 0 auto;
}

/* media query  */

@media screen and (min-width:768px) {
    .row-main{
        flex-direction: row;
        justify-content: center;
    }
    
    .col-25{
        display: flex;
    }

    .col-60{
        margin: 20px 10px;
        width: 60%;
    }

   .col-30{
    margin-bottom:0;
    margin: 20px 6px;
    width: 30%;

   }

   .col-benefit{
    margin: 20px 20px;
   }

   
}


  



@media screen and (min-width:992px) {

    .row-main-col{
        flex-direction: row;
    }

    .col-50{
        width: 50%;
        margin: 50px 50px;
    }

    .col-60{
        display: flex;
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    .hamburger{
        display: none;
    }

    .list-nav{
        display: block;
        
    }

    .col-dx button{
        display: block;
    }

    .container-bottom{
        width: 40%;
        
    }

    .header-button{
        background-color: white;
        border-style: none;
        padding: 5px 20px;
        border-radius: 40px;
    }
    

}




@media screen and (min-width:1200px) {
    .container {
        width: 70%;
    }
    
    .col-50 img{
        width: 50%;
    }
}






