*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* start header  */
 
header{
    background-color: blue;
    padding: 25px 0;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    
}

.row{
    width: 100%;
    display: flex;
    
}

.justify-content{
    justify-content: space-between;
    
}

.col-dx i{
    color: white;
}

/* main  */

.row-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-60 {
    background-color: #b5ddff;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 40px;
    line-height: 1.8;
   
}

.col-60 h3 {
    text-align: center;
    margin-bottom: 30px;
}


.col-60 img{
    width: 100%
   
}

.display-flex{
    display: flex;
    justify-content: center;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.col-30{
    background-color: #b5ddff;
    padding: 30px;
    border-radius: 40px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.8;
    
}

.col-30 i{
    color: #0084fd;
}

.font-size-20{
    font-size: 20px;
}

.col-50{
    padding: 30px;
    line-height: 1.8;
}


.col-50 img{
    width: 100%;
}

.background-violet{
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 100px;
}

.background-white{
    background-color: white;
    border-radius: 40px;
}

.text-align-center{
    text-align: center;
}

.style-button{
    background-color:  #9792e4;
    border-radius: 100%;
    padding: 5px 10px;
    border-style: none;
}

.col-25{
    text-align: center;
    line-height: 1.8;
    padding: 30px;
    margin-bottom: 30px;
    
    
}

.margin-top-30{
    margin-top: 30px
}

.col-25 img{
    width: 80%;
    border-radius: 100%
}

.background-violet-border{
    background-color:  #9792e4;
    border-radius: 40px;
}





